.author 
    .container 
        .author-content 
            .author-image-left
                img(src="../img/Ảnh 2.jpg", alt="")
                
            .author-text-right
                .text
                    p.text-color Product info 
                    h2.h2-text-align Bàn phím cơ AKKO 3096 World Tour Tokyo
                    p 
                        cite "Touch the fashion."
                    p   Akko 3096 World Tour Tokyo..With a pink and white mixed appearance, it creates a soft and lovely look in the eyes of users, along with keycaps filled with iconic images of the country of the rising sun. - Japan such as Mount Fuji, Torii Temple Gate, cherry blossoms and many more that live up to the name of this keyboard.
                    p  So with such a beautiful keyboard that offers such a very "Japanese" style and a very modest price, are you ready to learn more about it?
                    a(href="#").link-text Explore more
