.component
    .container 
        .text 
            .small-title 
                .p COMPONENTS
            .question 
                .p What's Inside Our Keyboard?
            .des 
                .p Like many other keyboards on the market, the components of our keyboard consist of the keycap and the switches, maybe the only difference here is the custom cables that come with the product.
        .card 
            .card-1.shadow.animation
                .img-block
                    img(src="../img/Keycap.jpg", alt="")
            .card-2.shadow.animation
                .img-block
                    img(src="../img/Switch.jpg", alt="")
            .card-3.shadow.animation
                .img-block
                    img(src="../img/Cáp 2.jpg", alt="")
