div.moreakko
    div.container
        .moreakko__content AKKO - BEST CHOICE FOR GAMING
        .horizol-circle
            .moreakko__icon
                .circle_icon
                .circle_icon.circle_icon_middle
                .circle_icon
        .moreakko__pic
            .moreakko__pic__top.pic_hover
                img(src="../img/banner-top.jpg", alt="") 
            .moreakko__pic_bottom_left.pic_hover
                img(src="../img/banner-left_bottom.jpg", alt="")
            .moreakko__pic_bottom_right.pic_hover
                img(src="../img/banner-right_bottom.jpg", alt="")
        .typeproduct
            .typeproduct__content OTHER PRODUCTS
            .horizol-circle
                .moreakko__icon
                    .circle_icon
                    .circle_icon.circle_icon_middle
                    .circle_icon
            .typeproduct_pic
                .typeproduct_left.pic_hover
                    img(src="../img/type1.jpg", alt="")
                .typeproduct_middle.pic_hover
                    img(src="../img/type2.jpg", alt="")
                .typeproduct_right.pic_hover
                    img(src="../img/type3.jpg", alt="")
        button.button  MORE PRODUCT
            
script(type="module" src="../js/moreakko.js") 