.author{
    .container{
        .author-content{
            height: 45rem;
            display: flex;
            position: relative;
            justify-content: space-around;
            // flex-wrap: wrap;
            align-items: flex-start;
            margin: 2rem;
            @media (max-width: 1200px){
                height: 100%;
                transition: 0.5s;
            }
            @media (max-width: 899px){
                height: 100%;
                display: flex;
                position: relative;
                flex-wrap: wrap;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                margin: 2rem;
                transition: 0.5s;
            }
            .author-image-left{
                width: 768px;
                margin: 1.5rem;
                box-shadow: 6px -6px #8a0640;
                @media (max-width: 815px){
                    width: 95%;
                    transition: 0.5s;
                }
                // position: absolute;
                // left: 0;
                img{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
    
            }
            .author-text-right{
                display: block;
                width: 486px;
                @media (max-width: 899px){
                    width: 80%;
                    transition: 0.5s;
                }

                // position: absolute;
                // right: 0;
                .text{
                    padding: 0.5rem;
                    margin: 0.5rem;
                    //h2
                    h2{
                        font-size: 4rem;
                        .pro_Name{
                            padding: 0.5rem;
                            margin: 0.5rem; 
                        }
                    }
                    //p
                    p{
                        padding: 0;
                        margin: 0.5rem;
                        text-align: justify;
                        cite{
                            font-size: 14px;
                        }   
                        .pro_Info{
                            font-size: 22px;
                            color: rgb(183,43,44);
                            font-weight: 700;  
                        }
                    }
                    .link-text{
                        font-weight: 700;
                        display: inline-block;
                        text-decoration: none;
                        border-bottom: 3px solid rgb(183,43,44);
                        color: black;
                        padding-bottom: 0.5rem;
                        margin: 0.5rem;
                        &:hover{
                            color: rgb(183,43,44);
                            transform: translate(-1%,1%);
                            font-size: 17px;
                            transition: 0.3s;
                        }
                        @media (max-width: 899px){
                            display: none;
                        }
                    }
                    
                    button{
                        width: 14rem;
                        font-size: larger;
                        font-weight: 700;
                        border: 0;
                        padding: 12px 10px;
                        outline: none;
                        color: rgb(240, 238, 238);
                        background: rgb(255,125,138);
                        border-radius: 10px;
                        transition: width 0.5s;
                        cursor: pointer;
                        &:hover{
                            width: 16rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        &:hover img{
                            display: block;
                        }
                        img{
                            width: 3rem;
                            display: none;
                        }
                    }
                    .btn{
                        @media (max-width: 1920px){
                            button{
                                display: none;
                            }
                        }
                        @media (max-width: 899px){
                            button{
                                display: flex;
                            }
                        }
                    }
                    @media (max-width: 1200px){
                        .description{
                        display: none;
                        }
                        transition: 0.5s;
                        
                    }
                }          
            }
        }
    }
}