.footer{
    margin-top: 4rem;
    background-color: #fafafa;
    border-top: 3px solid #8A0640;
    .footer_content{
        .footer_top{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 2rem;
            .footer_customer{
                width: 200px;
                .menu_list{
                    .menu_item{
                        list-style-type: none;
                        line-height: 2;
                        .ahead{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8A0640;
                            margin-bottom: 1.25rem;
                            margin-top: 2.5rem;
                        }
                        a{
                            text-decoration: none;
                            color: #8A0640;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            .footer_about__akko{
                width: 200px;
                .menu_list{
                    // width: 300px;
                    .menu_item{
                        list-style-type: none;
                        line-height: 2;
                        .ahead{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8A0640;
                            margin-bottom: 1.25rem;
                            margin-top: 2.5rem;
                        }
                        a{
                            text-decoration: none;
                            color: #8A0640;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            .footer_payment{
                width: 200px;
                .menu_list{
                    // width: 300px;
                    .menu_item{
                        list-style-type: none;
                        line-height: 2;
                        .ahead{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8A0640;
                            margin-bottom: 1.25rem;
                            margin-top: 2.5rem;
                        }
                        a{
                            text-decoration: none;
                            color: #8A0640;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            .footer_follow{
                width: 200px;
                .menu_list{
                    // width: 300px;
                    .menu_item{
                        list-style-type: none;
                        line-height: 2;
                        .ahead{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8A0640;
                            margin-bottom: 1.25rem;
                            margin-top: 2.5rem;
                        }
                        a{
                            text-decoration: none;
                            color: #8A0640;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            .footer_logitics{
                width: 200px;
                .menu_list{
                    // width: 300px;
                    .menu_item{
                        list-style-type: none;
                        line-height: 2;
                        .ahead{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8A0640;
                            margin-bottom: 1.25rem;
                            margin-top: 2.5rem;
                        }
                        a{
                            text-decoration: none;
                            color: #8A0640;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    
        .footer_bot{
            display: flex;
            justify-content: center;
            padding-bottom: 2rem;
            margin-top: 0.5rem;
            .footer_center{
                color: #8A0640;
            }
            .footer_bot_item{
                border-right: 1px solid #8A0640;
                border-left: 1px solid #8A0640;
                text-transform: uppercase;
                padding: 0 25px;
                a{
                    text-decoration: none;
                    display: block;
                    color: #8A0640;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        @media (max-width: 1040px){
            .footer_top{
                justify-content: center;
            }
            .footer_bot{
                display: none;
            }
        }
        // @media (max-width: 850px){
        //     .footer_content{
        //         box-sizing: border-box;
        //         .footer_top{
        //             display: flex;
        //             flex-wrap: wrap;
        //         }
        //     }
        // }
    }
}