.header {

    background-color: #fec8cd;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px 0px #ff7d8a;
    
    .scroll-top__btn{
        background-color: #ff7d8a;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        visibility: hidden;

        &:hover{
            cursor: pointer;
        }

        &::after{
            content:'';
            display: block;
            width: 3rem;
            height: 2rem;
            background-color: #fafafa;
            position: absolute;
            bottom: 0;
            left: 50%;
            opacity: 0;
            transform: translate(-50%,0);
            clip-path: polygon(0 50%,50% 0,100% 50%, 100% 70%,50% 20%,0 70%);
            animation: moving 4s ease 0s infinite;
        }

        &::before{
            content:'';
            display: block;
            width: 3rem;
            height: 2rem;
            background-color: #fafafa;
            position: absolute;
            bottom: 0;
            left: 50%;
            opacity: 0;
            transform: translate(-50%,0);
            clip-path: polygon(0 50%,50% 0,100% 50%, 100% 70%,50% 20%,0 70%);
            animation: moving 4s ease 2s infinite;
        }

        @keyframes moving {
            0%{
                bottom: 0 ;
                opacity: 0 ;
            }
            50%{
                bottom: 30%;
                opacity: 1;
            }
            100%{
                bottom: 50%;
                opacity: 0;
            }
        }
    }

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__block {
            display: flex;
            align-items: center;

            .nav-brandlogo {
                font-family: 'Lemonada', cursive;
                font-weight: 700;
                font-size: 3rem;
                margin-right: 1rem;

                .brandlogo {
                    text-decoration: none;
                    color: #a30000;

                    .brandlogo__span {
                        color: #fafafa;
                    }
                }
            }

            .nav-menu__list {
                list-style-type: none;
                display: flex;
                align-items: center;

                .nav-menu__item {
                    padding: 0 1rem;
                    font-size: 1.8rem;

                    .nav-menu__link {
                        padding: 1rem 0;
                        display: block;
                        color: #fafafa;
                        text-decoration: none;
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            background-color: #a30000;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            left: auto;
                            right: 0;
                            transition: .3s ease 0s;
                        }

                        &:hover::after {
                            width: 100%;
                            left: 0;
                            right: auto;
                            transition: .3s ease 0s;
                        }
                    }
                }
            }
        }

        .header__right {
            display: flex;
            align-items: center;

            .phone__btn {
                font-weight: 500;
                font-size: 2rem;

                .phone-btn__content{
                    text-decoration: none;
                    color: #fafafa;

                    span{
                        display: inline-block;
                        position: relative;

                        &::after{
                            content:'';
                            display:block;
                            position: absolute;
                            bottom: -1rem;
                            width:100%;
                            height: 2px;
                            border-top: 1px dotted #fafafa;
                        }
                    }
                }
            }

            .more__btn{
                font-weight: 500;
                font-size: 2rem;
                margin-left: 1rem;

                .more-btn__content{
                    display: block;
                    padding: .5rem 1.5rem;
                    background-color: #ff7d8a;
                    border:none;
                    border-radius: 2.5rem;
                    text-decoration: none;
                    color: #fafafa;
                    transition: .3s ease 0s;

                    &:hover{
                        background-color: #fafafa;
                        color: #ff7d8a ;
                        transition: .3s ease 0s;
                    }
                }
            }
        }
    }
}