.moreakko{
    text-align: center;
    .moreakko__content{
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: #8A0640;
    }
    .horizol-circle{
        display: flex;
        justify-content: center;
        padding: 1rem 0 2rem 0;
        .moreakko__icon{
            // border: 2px solid green;
            width: 6rem;
            height: 4rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .circle_icon{
                display: block;
                // border: 2px solid red;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #8A0640;
            }
            .circle_icon_middle{
                width: 2rem;
                height: 2rem;
            }
            &::before{
                content: "";
                display: block;
                background-color: #8A0640;
                height: 0.2rem;
                width: 15rem;
                position: absolute;
                top: 50%;
                right: 100%;
            }
            &::after{
                content: "";
                display: block;
                background-color: #8A0640;
                height: 0.2rem;
                width: 15rem;
                position: absolute;
                top: 50%;
                left: 100%;
            }
        }
    }
    .moreakko__pic{
        // border: 2px solid red;
        // display: flex;
        max-width: 1320px;
        height: 55rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .moreakko__pic__top{
            height: 300px;
            width: 1320px;
            overflow: hidden;
            margin-bottom: 1rem;
            img{
                display: block;
                width: 100%;
                height: 50rem;
            }
        }
        .moreakko__pic_bottom_left{
            width: 630px;
            height: 17.5rem;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .moreakko__pic_bottom_right{
            width: 630px;
            height: 17.5rem;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .pic_hover{
            transition: 0.3s;
            &:hover{
                    transition: 0.3s;
                    transform: scale(1.05);
            }
        }  
    }
    .typeproduct__content{
        // margin-top: 2rem;
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: #8A0640;
    }
    .typeproduct_pic{
        // margin-bottom: 3rem;
        max-width: 1320px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        .pic_hover{
            transition: 0.3s;
            &:hover{
                    transition: 0.3s;
                    transform: scale(1.05);
            }
        }
        .typeproduct_left{
            display: block;
            width: 400px;
            height: 20rem;
            margin: 0rem 1rem 3.5rem;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
                
            }
        }
        .typeproduct_middle{
            display: block;
            width: 400px;
            height: 20rem;
            margin-top: 0;
            margin: 0rem 1rem 3.5rem;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
                
            }
        }
        .typeproduct_right{
            display: block;
            width: 400px;
            height: 20rem;
            margin-top: 0;
            margin: 0rem 1rem 3.5rem;
            overflow: hidden;
            img{
                display: block;
                width: 100%;
                height: 100%;
                
            }
        }
    }
    .button{
        display: block;
        border: none;
        background-color: rgb(255,125,138);
        width: 35rem;
        height: 6rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 2.5rem;
        color: white;
        top: 2rem;
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            position: absolute;
            background-color: white;
            width: 0%;
            height: 100%;
            left: 0;
            top: 0;
            transition: 0.3s;
            z-index: -1;
        }
        &:hover{
            &::after{
                content: "";
                position: absolute;
                background-color: white;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                transition: 0.3s;
            }
            color: #FF7D8A;
            transition: 0.3s;
        }
    }
}
@media(max-width: 1320px) {
    .moreakko__pic__top{
        display: none;
    }
    .moreakko{
        .moreakko__pic{
            justify-content: center;
            height: 42rem;
        }
    } 
}
@media(max-width: 1370px) {
    .moreakko{
        .typeproduct_pic{
            display: flex;
            justify-content: center;
        }
        .button{
            display: block;
        }
    }
}